:root {
  --color-black: #000;
  --color-white: #000;
  --color-primary: #2e333d;
  --color-second: #131313;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  background: var(--color-black);
  font-family: 'Poppins', sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
